<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="user" class="info.hibernate.orm.dto.UserDetails">
		<property name="userId" value="0655"></property>
		<property name="userName" value="vijay"></property>
	</bean>
	
	<bean id="hbnConfiguration" class="org.hibernate.cfg.Configuration"></bean>

</beans>
